.task{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    gap: 10px;
}

.task__content{
    display: flex;
    align-items: center;
    width: 100%;
}

.task__content input{
    margin: 0;
    padding: 0;
}

.task__content-details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 20px;
}

.task__content p{
    padding: 0;
    margin: 0;
    font-weight: bold;
    color: rgb(80, 43, 226);
}

.buttons{
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 2px;
}


.crossed{
    text-decoration: line-through;
    color: gray !important;
}

.task__edit{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 10px;
}

.task__edit-input{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px
}

.task__edit-buttons{
    display: flex;
}


