input{
    padding: 5px 10px;
    border: 1px solid rgb(80, 43, 226);
    border-radius: 20px;
    color: rgb(80, 43, 226);
    font-weight: bold;
}
input::placeholder{
    color: rgb(80, 43, 226);
    font-weight: bold;
}

.input{
    margin: 0;
    padding: 0;
}